    <h1 id="top-heading">For every student,<br>
every classroom.<br>
Real results.</h1>

    <p>We’re a nonprofit with the mission to provide a free, world-class education for anyone, anywhere.</p>

    <a href="/learners"><button class="primary"><span>Learners</span></button></a>
    <a href="/teachers"><button class="primary"><span>Teachers</span></button></a>
    <a href="/parents"><button class="primary"><span>Parents</span></button></a>
    <a href="/districts"><button class="primary"><span>Districts</span></button></a>

